/*--------------------------------------------
# Own Style
--------------------------------------------*/
.balloon{
    border-radius: 5px;
    background-color: cadetblue;
    color: floralwhite;
    padding: 3px;
    width: 420px;
    font-family: 'Arial Black', cursive;
    font-size: 2em
}

.fixedImage {
    position: fixed;
    top: 7em;
}
